.banner {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 120px 0;
}

.banner-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.banner-right img {
/* Try to always stay away from pixels especially when it comes to width.
Try to always use more responsive units such as %.
Your page kinda breaks when its getting smaller and right before the tablet size. This is due to using px instead of %.
The end-goal is to have your website to be responsive on all screensizes. */
    width: 600px;
    margin-left: 80px;
}

.bannerp1 {
    color: var(--text-secondary);
    font-size: 1.5em;
    margin-top: 30px;
}