nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.nav_button {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 1em;
    font-weight: medium;
}

a:nth-child(2) {
    margin-left: 3rem;
}

/* Beautiful touch on the nav button to have a bottom border when hovering over! */
.nav_button:hover {
    border-bottom: 3px solid #febc2f98;
}

.start_button {
    text-decoration: none;
    color: var(--card);
    background-color: var(--text-primary);
    padding: 14px 24px;
    border-radius: 40px;
}

footer {
    height: 80px;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

footer img {
    height: 2.5em;
}