/* Beautiful work on the use of CSS variables! */
:root {
    background-color: #F5F3EF;
    /* --background: #F5F3EF; */
    --card: #FFFFFF;
    --accent: #FEBD2F;
    --text-primary: #000000;
    --text-secondary: #646464;
    --outline: #DCDCDC;
    font-family: 'Roboto', sans-serif;
}

.invis {
    display: none;
}

h1, h2, h3 {
    font-family: 'Roboto Serif', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.p1{
    font-size: 1.5em;
    color: var(--text-secondary);
}

.p2 {
    color: #646464;
    font-size: 1.125em;
}

.main-contain {
    padding: 30px 80px 0 80px;
}

body {
    display: flex;
    justify-content: center;
}
